.addAuthor {
  margin: 0 5px;
}

.addAuthor > h2 {
  /* margin-top: 40px; */
  padding-top: 20px;
}

.addAuthor__formGroup {
  margin-bottom: 20px;
}

.addAuthor__formGroupInput {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
}

.addAuthor__formLabel {
  width: 100%;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.addAuthor__formSubmit {
  background-color: #65a2cd;
  color: #fff;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 15px 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.addAuthor__formSubmit:hover {
  background-color: #99c1de;
}

.addAuthor__formLabelSuccess {
  margin-top: 5px;
  color: green;
}

@media (min-width: 576px) {
  .addAuthor {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 992px) {
  .addAuthor {
    margin-left: 20px;
    margin-right: 20px;
  }
}
