.addBook {
  margin: 0 20px;
}

.addBook > h2 {
  margin-top: 40px;
}

.addBook__formGroup {
  margin-bottom: 20px;
}

.addBook__formGroupInput {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
}

.addBook__formGroupInputImage {
  color: transparent;
}

.addBook__formGroupInputImage::-webkit-file-upload-button {
  visibility: hidden;
}

.addBook__formGroupInputImage::before {
  content: "Upload book image";
  color: #ffffff;
  background-color: #65a2cd;
  padding: 10px 40px;
  border-radius: 4px;
  display: inline-block;
  outline: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.addBook__formGroupInputImage:hover::before {
  background-color: #9ac1de;
}

.addBook__formGroupImage {
  margin-top: 5px;
  width: 100%;
  max-width: 130px;
}

.addBook__formGroupSelect {
  width: 100%;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #6f7071;
}
.addBook__formGroupSelect:focus,
.addBook__formGroup > input:focus {
  outline: none;
}

.addBook__formGroupInput::placeholder {
  color: #6f7071;
}

.addBook__formLabel {
  width: 100%;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.addBook__formSubmit {
  background-color: #99c1de;
  color: #fff;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 15px 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
