.header {
  background-color: white;
  z-index: 3;
  position: relative;
}

.header.light {
  background-color: transparent;
}

.navbar {
  max-width: 1320px;
  margin: 0 auto;
}

.header__container {
  flex-direction: column;
}

.nav-container {
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.nav-container-item {
  display: flex;
  border: 1px solid #ffffff;
  width: 100%;
  justify-content: center;
  margin: 5px 0;
  border-radius: 5px;
}

.nav_link {
  text-align: center;
}

.singupBtn {
  min-width: 80px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #65a2cd;
  margin-right: 0;
}

.navbar-brand:hover {
  color: #65a2cd;
}

.navbar-brand.light {
  color: #ffffff;
}

.navbar-brand > span {
  font-size: 26px;
  line-height: 1;
}

.navbar-brand-icon {
  height: 30px;
  margin-right: 5px;
  fill: #65a2cd;
}

.navbar-brand-icon.light {
  fill: #ffffff;
}

.nav-container-link {
  font-weight: 600;
  color: #65a2cd;
  border-radius: 25px;
  transition: background-color 0.5s ease-in-out, color 0.4s ease-in-out;
}

.nav-container-link:hover {
  color: #ffffff;
  background-color: #99c1de;
}

.nav-container-link.light {
  color: #ffffff;
}

.nav-container-link.light:hover {
  color: #535659;
  background-color: #ffffff;
  opacity: 0.8;
}

.header__containerUser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.header__containerUserContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__user {
  flex-basis: 48%;
  text-align: center;
  min-width: 150px;
  font-weight: 600;
  border-radius: 25px;
  padding: 8px 0;
  color: #65a2cd;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out, color 0.4s ease-in-out;
}

.header__user:hover {
  color: #ffffff;
  background-color: #99c1de;
}

.header__user.light {
  color: #ffffff;
}

.header__user.light:hover {
  color: #535659;
  background-color: #ffffff;
  opacity: 0.8;
}

.header__link {
  flex-basis: 48%;
  color: #65a2cd;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #65a2cd;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.5s ease-in-out, color 0.4s ease-in-out;
}

.header__link:hover {
  color: #ffffff;
  background-color: #99c1de;
}

.header__link.light {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.header__link.light:hover {
  color: #535659;
  background-color: #ffffff;
  opacity: 0.8;
  border: 1px solid #ffffff;
}

.header__linkOption {
  margin: 0 auto;
}

.header__linkOption > span {
  font-weight: 600;
}

.header__basket {
  display: flex;
  text-decoration: none;
  color: #65a2cd;
  fill: #65a2cd;
  margin: 10px auto 0;
}

.header__basket:hover {
  color: #99c1de;
  fill: #99c1de;
}

.header__basket.light {
  color: #ffffff;
  fill: #ffffff;
}

.header__basket.light:hover {
  color: #535659;
  fill: #535659;
}

.header__basketIcon {
  width: 35px;
  margin-left: 20px;
}

.header__basketCount {
  font-size: 26px;
  text-decoration: none;
  margin-left: 5px;
}

.header__basketCount.hide {
  color: transparent;
}

@media (min-width: 576px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-container-item {
    width: auto;
    padding: auto;
    flex-basis: 24%;
  }

  .header__containerUser {
    flex-direction: row;
  }

  .header__containerUserContent {
    flex-basis: 66%;
  }

  .header__basket {
    margin: 0;
    flex-basis: 33%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .header__container {
    flex-direction: row;
    align-items: center;
  }

  .navbar-brand {
    flex-basis: 15%;
  }

  .navbar-collapse {
    flex-basis: 45%;
  }

  .header__containerUser {
    margin-top: 0;
    flex-basis: 40%;
  }

  .nav-container {
    justify-content: flex-start;
  }

  .nav-container-item {
    border: none;
    font-size: 20px;
  }

  .header__user {
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
  }

  .header__linkOption > span {
    font-size: 20px;
  }

  .header__containerUserContent {
    justify-content: flex-end;
    flex-basis: 80%;
  }

  .header__basket {
    flex-basis: 20%;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    flex-basis: 50%;
  }

  .header__containerUser {
    margin-top: 0;
    flex-basis: 35%;
  }
}
