.header {
  background-color: white;
}

.navbar {
  max-width: 1320px;
  margin: 0 auto;
}

.singupBtn {
  min-width: 80px;
}

.navbar-brand {
  color: #468fc3;
}

.nav-link {
  color: #468fc3;
}

.header__user {
  min-width: 150px;
  color: #468fc3;
  text-decoration: none;
}

.header__link {
  color: #468fc3;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #468fc3;
  padding: 6px 12px;
  border-radius: 4px;
}

.header__link:hover {
  color: skyblue;
  border-color: skyblue;
}

.header__linkOption {
  margin: 0 auto;
}

.header__basket {
  display: flex;
  text-decoration: none;
  color: #468fc3;
  fill: #468fc3;
}

.header__basket:hover {
  color: #87ceeb;
  fill: #87ceeb;
}

.header__basketIcon {
  width: 35px;
  margin-left: 20px;
}

.header__basketCount {
  font-size: 26px;
  text-decoration: none;
  margin-left: 5px;
}
