.header {
  background-color: white;
}

.navbar {
  max-width: 1320px;
  margin: 0 auto;
}

.singupBtn {
  min-width: 80px;
}

.navbar-brand {
  color: #468fc3;
}

.nav-link {
  color: #468fc3;
}

.btn-outline-primary {
  color: #468fc3;
  border-color: #468fc3;
}
