.authorBook {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 0 0 auto;
  text-decoration: none;
  color: #212529;
  margin-top: 10px;
  border: 1px solid #bcd4e6;
  padding: 10px;
  border-radius: 4px;
}

.authorBook:hover {
  box-shadow: 0 0 10px 2px #bcd4e6;
  color: #212529;
}

.authorBook__img > img {
  max-height: -webkit-fill-available;
  width: 100%;
}

.authorBook__title {
  font-size: 26px;
  margin-bottom: 0;
  font-weight: 700;
}

.authorBook__category {
  margin-bottom: 0;
}

.authorBook__description {
  text-align: justify;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 576px) {
  .authorBook {
    flex-direction: row;
  }

  .authorBook__img > img {
    width: 165px;
    height: 250px;
    object-fit: fill;
  }

  .authorBook__content {
    margin-left: 10px;
  }
}

@media (min-width: 992px) {
  .authorBook {
    width: calc(50% - 5px);
  }
}
