.userPage > h1 {
  margin: 50px 0;
  text-align: center;
}

.userPage__container {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(100% - 10px);
}

.userPage__content {
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  /* padding-bottom: 20px; */
}

.userPage__navLink {
  text-align: center;
  display: block;
  color: #65a2cd;
  padding: 10px 40px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  border-radius: 0.25rem;
}

.userPage__navLink:hover {
  color: #99c1de;
}

.userPage__navLink.active {
  color: #ffffff;
  background-color: #65a2cd;
}

.userPage__myBooksHeader {
  display: none;
  justify-content: space-between;
  margin-top: 10px;
}

.userPage__myBooksHeader > p {
  font-weight: 600;
}

.userPage__myBooksHeaderId {
  margin: 0;
  min-width: 340px;
  margin-left: 5px;
}

.userPage__myBooksHeaderDate {
  margin: 0;
  min-width: 160px;
  text-align: center;
}

.userPage__myBooksHeaderStatus {
  margin: 0;
  min-width: 80px;
  text-align: center;
}

.tab-settings > h2 {
  margin: 20px;
}

.myBooksTab__empty {
  margin: 20px;
  font-size: 20px;
}

@media (min-width: 576px) {
  .userPage__container {
    width: calc(100% - 20px);
    margin: 0 auto;
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .userPage__container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1320px;
  }

  .userPage__nav {
    width: 250px;
  }

  .userPage__content {
    flex: 1;
    margin: 0 0 0 10px;
  }

  .userPage__navLink {
    text-align: left;
  }
}
