.authorPage__container {
  position: relative;
  height: calc(100vh - 56px);
}

.authorPage__containerSpinner {
  position: absolute;
  left: 50%;
  top: calc(45% - 56px);
}

.authorPage__containerSpinner > div {
  width: 4rem;
  height: 4em;
  color: #99c1de;
}

.authorPage {
  max-width: 1320px;

  display: flex;
  flex-direction: column;
  margin: 30px auto;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 2px #bcd4e6;
  padding: 10px;
}

.authorPage__birthDate {
  font-size: 20px;
}

.authorPage__description {
  text-align: justify;
  font-size: 20px;
}

.authorPage__booksHeader {
  margin-bottom: 0;
  padding-left: 0px;
}

.authorPage__booksContainer {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 576px) {
  .authorPage {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(100% - 10px);
  }
}

@media (min-width: 992px) {
  .authorPage__booksContainer {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  .authorPage {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
}

@media (min-width: 1320px) {
  .authorPage {
    max-width: 1320px;
    margin: 30px auto;
  }
}
