* {
  font-family: "Mulish", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-y: scroll;
  background-color: #f2f6f8;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__container {
  flex: 1;
}
