.resendcodePage > h1 {
  text-align: center;
  margin: 50px auto 100px;
}

.resendcodePage__container {
  max-width: 660px;
  margin: 0 auto;
  width: calc(100% - 10px);
}

.resendcodePage__content {
  background: white;
  padding: 10px;
  border-radius: 5px;
}

.resendcodePage__content > h2 {
  margin: 20px 0 40px 0;
  padding: 0px;
  color: #222222;
  font-size: 24px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

.resendcodePage__formGroup {
  margin-bottom: 20px;
}

.resendcodePage__formGroupInput {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 17px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
}

.resendcodePage__formGroup > input:focus {
  outline: none;
}

.resendcodePage__formLabel {
  width: 100%;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.resendcodePage__submitGroup {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.resendcodePage__submitGroupLink {
  margin-top: 10px;
  order: 2;
  flex: 1;
  color: #99c1de;
  text-decoration: none;
}

.resendcodePage__submitGroupSubmit {
  order: 1;
  flex: 1;
  background-color: #65a2cd;
  color: #fff;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 15px 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.resendcodePage__submitGroupSubmit:hover {
  background-color: #99c1de;
}

.resendcodePage__submitGroupSubmit:focus {
  outline: none;
}

.resendcodePage__errorMessage {
  width: 100%;
  color: red;
  font-size: 16px;
  margin-top: 5px;
}

.resendcodePage__successMessage {
  color: green;
}

@media (min-width: 576px) {
  .resendcodePage__container {
    width: calc(100% - 40px);
  }

  .resendcodePage__content {
    padding: 30px;
  }
}

@media (min-width: 992px) {
  .resendcodePage__content {
    padding: 50px 85px;
  }

  .resendcodePage__content > h2 {
    margin: 0 0 40px 0;
  }

  .resendcodePage__submitGroup {
    flex-direction: row;
  }

  .resendcodePage__submitGroupLink {
    margin-top: 0;
    order: 1;
  }

  .resendcodePage__submitGroupSubmit {
    order: 2;
  }
}
